<!--The content below is only a placeholder and can be replaced.-->
<app-navigation></app-navigation>

<!-- <ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="">Featured</a></li>
</ul> -->

<!-- <button (click)="getPosts()" type="button" name="button">Get Em</button>

<div class="" *ngFor="let post of posts | async">
 {{ post | json}}
</div> -->


<app-featured></app-featured>
<!-- <button (click)='getData()'>Fetch Data</button>

<table>
  <tr>
    <th>Title</th>
  </tr>
  <tr *ngFor='let movie of data$ | async'>
    <td>{{ movie }}</td>
    <td>{{ movie }}</td>
  </tr>
</table>

<router-outlet></router-outlet> -->

<!-- <input type='text' (keyup)="onNameKeyUp($event)"> -->
<!-- <button (click)="getMovie()" type="button" name="button">Get Movie</button>
<br>

<div *ngIf="found">
  <span>{{ title }} title is {{ year }}</span>
</div> -->

<!-- <ul>
    <li *ngFor="let food of foods">{{food.title}}</li>
</ul> -->
