.top-wrap {
  padding-top: 1em;
  background:#333;
  color:#fff;

  .logo {
    width: 300px;
    .logo-text {
      fill: #e50914;
    }
  }


  nav {
    a {
      color:#fff;
      &:hover{
        text-decoration: none !important;
      }
    }

  }

}
