
<main>
  <div class="container">
    <div class="row pt-5">

      <section class="text-center pb-3">
          <h1 class="font-bold h1 py-5">Featured movies</h1>
          <p class="section-description">From thousands of submissions, our panel of international judges have selected these movies that add or teach content of cultural, philosophical or moral values. Take a look and be inspired!</p>

          <!--Grid row-->
          <div class="row justify-content-center">

              <!--Grid column-->
              <div class="col-7 col-md-4 col-lg-3 align-self-center-sm mb-r">
                  <div class="card card-cascade narrower">

                      <div class="view overlay hm-white-slight">
                          <img src="{{ movie.Poster }}" class="img-fluid" alt="">
                          <a>
                              <div class="mask"></div>
                          </a>
                      </div>

                      <div class="card-body text-center">
                          <!--Category & Title-->
                          <a href="" class="grey-text">
                              <h5>{{ movie.Year }}</h5>
                          </a>
                          <h4 class="card-title">
                              <strong><a href="">{{ movie.Title }}</a></strong>
                          </h4>

                          <p class="card-text">{{ movie.Plot }}</p>
                          <div class="card-footer">{{ movie.Awards }}</div>

                      </div>

                  </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-7 col-md-4 col-lg-3 align-self-center-sm mb-r">
                  <div class="card card-cascade narrower">

                      <div class="view overlay hm-white-slight">
                          <img src="{{ movie2.Poster }}" class="img-fluid" alt="">
                          <a>
                              <div class="mask"></div>
                          </a>
                      </div>

                      <div class="card-body text-center">
                          <!--Category & Title-->
                          <a href="" class="grey-text">
                              <h5>{{ movie2.Year }}</h5>
                          </a>
                          <h4 class="card-title">
                              <strong><a href="">{{ movie2.Title }}</a></strong>
                          </h4>

                          <p class="card-text">{{ movie2.Plot }}</p>
                          <div class="card-footer">{{ movie2.Awards }}</div>

                      </div>

                  </div>
              </div>
              <!--Grid column-->

          </div>
          <!--Grid row-->
      </section>

    </div>
  </div>
</main>
