<div class="container">
  <div class="row pt-5">
    <div class="col-lg-12">

      <section class="text-center pb-3">
        <h1 class="font-bold h1 py-5">Search for a movie</h1>
      </section>


      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">

              <div>
                <form class="well form-search" id="search-by-title-form" onsubmit="return false;">
                  <div>
                      <label class="control-label" for="t">Title:</label>
                      <input type="text" id="search-title" name="search-title" class="input" [(ngModel)]="searchQuery">
                      &nbsp;&nbsp;
                      <label class="control-label">Plot:</label>
                      <select (change)="selectChangeHandler($event)" name="plot" style="width: 100px;">
                          <option value="full">Full</option>
                          <option value="short">Short</option>
                      </select>
                      &nbsp;&nbsp;
                      <input type="submit" class="btn btn-primary" [value]="btnText" (click)="searchMovie()">
                  </div>
                </form>
              </div>

              <div *ngIf="visible">
                <div class="movie-result pt-3">
                  <h2>{{ movie.Title }} ({{ movie.Year }})</h2>
                  <div class="row mt-4">
                    <div class="col-4">

                      <img src="{{ movie.Poster }}" alt="" class="img-fluid">

                    </div>
                    <div class="col-4">

                      <dl>
                        <dt>Released</dt>
                        <dd>{{ movie.Released }}</dd>

                        <dt>Runtime</dt>
                        <dd>{{ movie.Runtime }}</dd>

                        <dt>Genre</dt>
                        <dd>{{ movie.Genre }}</dd>

                        <dt>Director</dt>
                        <dd>{{ movie.Director }}</dd>

                        <dt>Writer</dt>
                        <dd>{{ movie.Writer }}</dd>

                        <dt>Language</dt>
                        <dd>{{ movie.Language }}</dd>

                        <dt>Awards</dt>
                        <dd>{{ movie.Awards }}</dd>
                        </dl>
                      </div>

                      <div class="col-4">
                        <dl>
                          <dt>Ratings</dt>
                            <ul *ngFor="let rating of movie.Ratings">
                              <li>{{ rating.Source }} - {{ rating.Value }}</li>
                            </ul>

                          <dt>IMDB Votes</dt>
                          <dd>{{ movie.imdbVotes }}</dd>

                      </dl>

                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col">
                      <h3>Plot</h3>

                      <div *ngIf="!more" class="movie-plot">
                        {{ movie.Plot | truncateLessMore: 30 }}
                      </div>

                      <div *ngIf="more" class="movie-plot">
                        {{ movie.Plot }}
                      </div>

                      <div class="readmore" (click)="showMore()">
                        <span *ngIf="!more">Read More</span>
                        <span *ngIf="more">Less</span>
                      </div>

                    </div>
                  </div>
                </div><!-- /movie-search-result -->
              </div>

            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>
